<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Five Stars!!</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Melissa Hotel Riyadh </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted" text-center>Relaxed hotel offering complimentary Wi-Fi & breakfast</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cristal Amaken Hotel </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted" text-center> Sophisticated quarters in a polished hotel featuring 2 restaurants, a spa area & an outdoor pool. Price: SAR 571 per night</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Aloft Riyadh </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted" text-center> Modern rooms & suites in a refined business hotel offering an outdoor pool, a bar & buffet dining. Price: SAR 902 per night</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Dabab Hotel By Warwick</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted" > Warmly furnished quarters in an informal hotel offering a restaurant, an indoor pool & a gym. Price: SAR 397 per night</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Family!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>